<h1>Login</h1>


<form action="dosignup" method="get">
<table>
 <tr>
  <td>ユーザ名:</td>
  <td><input name="name" type="text"></td>
 </tr>
 <tr>
  <td>パスワード:</td>
  <td><input name="pass" type="password"></td>
 </tr>
 <tr>
  <td></td>
  <td><input name="submitButton" type="submit" value="ログイン"></td>
 </tr>
</table>
</form>