<h1><font size="12"><center>不具合管理業務選択画面</center></font></h1>
<br><br>

<br><br>

<!--
 <h7>ようこそ<#%= @log.user_id %>さん</h7>
-->
<br><br>

<center>
<font size="8"><%= link_to '一覧', fuguais_path %></font><br><br><br>
<font size="8"><%= link_to '新規作成', new_fuguai_path %></font>
</center>

