<html>

<h1><center>不具合管理業務選択画面</center></h1>

<table>
<a><font size="4">001 一覧</font></a>
<br>
<a><font size="4">002 新規登録</font></a>
</table>

<br><br>

<FORM>

<a><font size="3">指示コード：</font></a>

<SELECT name="gyomusizi">
<OPTION value="001">001 一覧</OPTION>
<OPTION value="002">002 新規登録</OPTION>
</SELECT>

<input name="submitButton" type="submit" value="実行">

</FORM>
</html>



