<h1><font size="12"><center>不具合管理業務選択画面</center></font></h1>

<!--
<table>
<br><br>
<a><font size="8">001 一覧</font></a>
<br><br><br>
<a><font size="8">002 新規登録</font></a>
</table>

<br><br>

<FORM>

<a><font size="3">指示コード：</font></a>

<SELECT name="gyomusizi">
<OPTION value="001">001 一覧</OPTION>
<OPTION value="002">002 新規登録></OPTION>
</SELECT>

<input name="submitButton" type="submit" value="実行">

</FORM>
-->

<center>
<br><br>
<font size="8"><%= link_to '一覧', fuguais_path %></font><br><br><br>
<font size="8"><%= link_to '新規作成', new_fuguai_path %></font>
</center>

