<h1><font size="12"><center>不具合管理システム</center></font></h1>
<br><br>

<center>
<br><br>
 <font color="red"><h7>ログアウトしました</h7><br></font>
 <h7>おつかれさまでした</h7>
<br><br><br><br><br><br>
</center>

<center>
<font size="8"><%= link_to 'ログインする', root_path %></font><br><br><br>
</center>

<%= render 'form_footer' %>